fastapi~=0.105.0
uvicorn[standard]==0.20.0
pydub~=0.25.1
outlines~=0.0.14
boto3~=1.28.64
asyncpg==0.27.0
openai
google-cloud-storage==2.14.0
google-cloud-texttospeech==2.14.1
google-cloud-translate==3.11.0
google-cloud-speech==2.18.0
langchain==0.0.338